div.heading{
    float: left;
}

h1{
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: -20px;
    margin-left: 30px;
}

h2{
    font-family: sans-serif;
    font-weight: 100;
    margin-left: 30px;
}

ul{
    float: right;
    list-style-type: none;
}

li{
    float: left;
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 100;
}

a:link{
    display: block;
    padding: 7px 16px;
    text-decoration: none;
    color: black;
}

/* visited is once you've clicked */
a:visited{
    color: orange;
}

/* hover is when you hover the mouse over */
a:hover{
    background-color: beige;
}

/* active is when you click on the link */
a:active{
    color: azure;
}
/* a:link, a:visited, a:hover, a:active
    Must be in this order to use!*/

table, tr, td{
    font-family: sans-serif;
    font-weight: 200;
    float: clear;
}

table{
    border-collapse: collapse;
    border-bottom: 1px solid #CECBCB;
}

td{
    padding-left: 30px;
    border-left: 1px solid #CECBCB;
    border-right: 1px solid #CECBCB;
}

th:nth-child(1){
    border-left: 1px solid #CECBCB;
}

tr:nth-child(2){
    border-top: 1px solid #CECBCB;
}

th{
    text-align: left;
    padding: 3px 30px;
    font-weight: 500;
}

tr{
    vertical-align: bottom;
}

/* every other row, starting with the 2nd one because we specified 2n inside the () */
tr:nth-child(2n){
    background-color: beige;
}

.images{
    border-left: 0px solid #CECBCB;
    border-right: 0px solid #CECBCB;
}

span{
    font-weight: 200;
    font-style: italic;
}